extends layout

block content
  h1 Welcome to the signature app. 
  h4 Please use below credentials to login in the web app.
  h6 Username: #{user.email}
  h6 Password: #{user.password}

  p Regards,
  p Signature Team
